// COLORS
$primary-color: #3340ff;
$secondary-color: #3340ff;
$white-color: #f2f2f2;
$dark-grey: #16212c; //Footer
$dark-blue-text: #0d0d0d; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
